* {
    margin: 0px;
    font-size: 1.1rem;

}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease ;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }

.section-container{

}

#popup-container{
    align-items: center;
    background-color: antiquewhite;
    justify-content: center;
    position: fixed;
    left: 27%;
}

#popup-div{
    display: flex;
    column-gap: 2vw;
    padding-right: 5vw;
}

.open-popup-container{
    display: block;
}


.popup-country-flag{
    height:40vh;
}

.popup-content{
    font-size: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
}

.section-select {
    padding: 10vh;
}

.select {
    padding: 3vh 10vw 3vh 2vw;
}

#countries-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10vh;
    column-gap: 5.5vw;
    padding: 0vh 7vw 0vh 7vw;
}

.country-div {
    width: 20%;
    background-color: whitesmoke;
}


.country-flag {
    height: 12rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.country-name {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.country-population,
.country-region,
.country-capital {
    font-weight: 600;
}

.country-span-detail {
    font-weight: 500;
}



@media screen and (min-width:481px) and (max-width:768px) {
    .country-div {
        width: 25%;
    }
}

@media screen and (max-width:480px) {
    .country-div {
        width: 40%;
    }
}